<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#!/"><span ng-bind="config.appName"></span></a>
    </div>

    <div class="collapse navbar-collapse" id="collapsable-nav">
      <ul class="nav navbar-nav navbar-left">
        <li class="home"><a href="/#!/">Home</a></li>
        <li class="tests"><a href="/#!/tests">Tests</a></li>
      </ul>
    </div>
  </div>
</nav>