lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
public/uploads/*.*
public/uploads/*/*.*

pids
logs
results
apidocs

npm-debug.log
node_modules

.DS_Store
couchdb.stderr
couchdb.stdout

config.js
definitions.js
vern_config.js