<div class="ngAssetUpload">
  <div class="fileContainer clearfix" ng-class="{multiple: options.multiple}" ui-sortable="sortableOptions" ng-model="fileUrl">
    <div class="file" ng-repeat="file in fileUrl track by $index">
      <a class="remove-file" ng-click="removeFile($index)"><span class="glyphicon glyphicon-remove"></span></a>
      <a class="replace-file" ng-click="replaceFile($index)"><span class="glyphicon glyphicon-repeat"></span></a>
      <input ng-if="options.image == false" type="text" ng-model="file">
      <a class="image-holder" ng-if="options.image == true" ng-href="{{file}}" target="_blank"><img ng-model="file" ng-src="{{file}}"></a>
    </div>
  </div>
  <div class="uploadContainer">
    <input ng-if="options.multiple" type="file" class="uploader hide" multiple>
    <input ng-if="!options.multiple" type="file" class="uploader hide">
    <button type="button" ng-click="uploadFile()" class="btn" ng-show="!formWait" ng-bind="options.buttonText ? options.buttonText : (options.multiple ? 'Upload Files' : 'Upload File')"></button>
    <button type="button" ng-show="options.cancelMethod" ng-click="options.cancelMethod()" class="btn cancel">Close</button>
    <div ng-show="formWait" class="spinner"><div class="mask"></div></div>
  </div>
</div>