<md-content class="home" layout="column" layout-align="center center">
  <div>
    <img src="/images/logo.png" alt="Welcome to Vern">
  </div>
  <div>
    <h2>Welcome to your first website</h2>
  </div>
  <div layout="column" layout-align="center center">
    <p>To get started, from the command line <span class="code">vern create route my-route</span> which will set up a view, controller and stylesheet for you to begin editing.</p>
    <p>For more, check out the documentation at <a href="http://vern-docs.vern.io/">vern.io</a></p>
  </div>
</md-content>
