<md-toolbar class="md-warn">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Login for Access</h2>
  </div>
</md-toolbar>
<md-content layout-padding layout="row" layout-align="center center">
  <form role="form" class="login-form" ng-submit="loginUser()">
    <md-input-container>
      <label for="username">Email/Username</label>
      <input id="username" class="form-control" type="text" ng-model="login.username">
    </md-input-container>
    <md-input-container>
      <label for="password">Password</label>
      <input id="password" class="form-control" type="password" ng-model="login.password">
    </md-input-container>
    <md-input-container>
      <md-button type="submit" class="md-raised md-primary" value="Login">Login</md-button>
    </md-input-container>
  </form>
</md-content>
