<div class="main-content">
  <div class="reset-password">
    <h2>Reset your password</h2>
    <p>Please fill in the information below to complete you request</p>
    <form class="form-horizontal" ng-submit="submitPassword()">
      <div class="control-group">
        <label class="control-label" for="password">New Password</label>
        <div class="controls">
          <input required type="password" ng-model="passwordData.password" id="password" placeholder="Enter a new password">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="confirm_password">Confirm Password</label>
        <div class="controls">
          <input required type="password" ng-model="passwordData.confirm_password" id="confirm_password" placeholder="Confirm your password">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
      </div>
    </form>
  </div>
</div>