<div class="register" ng-controller="RegisterCtrl">
  <p class="alert alert-info">Note: You may need to enable registration in app/vern/vern_config.js</p>
  <div class="step step-1" ng-show="!registered">
    <div class="login-button-holder">
      <p>Already have an account? <a href="/#!/login" class="btn">Sign in</a></p>
    </div>
    <h3>Sign up by entering your details below</h3>
    <div class="signup-methods">
      <form novalidate name="registerForm" ng-submit="registerAccount()">
        <input required ng-validate type="email" ng-model="registerData.email" placeholder="Enter your email">
        <input type="submit" class="btn btn-primary" value="Get Started">
      </form>
    </div>
  </div>
  <div class="step step-2" ng-show="registered">
    <h1>Thank You</h1>
  </div>
</div>
