<md-content>
  <md-toolbar layout="row" layout-padding layout-align="space-between center">
    <div class="md-toolbar-tools">
      <h2>
        <span>Vern Administrative Panel</span>
      </h2>
      <span flex></span>
      <div layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleMenu()">
          <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>
</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-z2 admin-menu" md-component-id="menu">
  <div layout="column" layout-align="start end" layout-fill>
    <md-button href aria-label="Close" class="close" ng-click="closeMenu()"><md-icon md-svg-icon="images/icons/cancel.svg"></md-icon></md-button>
    <md-button class="dashboard" aria-label="Dashboard" ng-click="closeMenu()" ng-href="/#!/dashboard">Dashboard</md-button>
    <!-- buildpoint -->
  </div>
</md-sidenav>
