<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsable-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#!/"><span ng-bind="config.appName"></span></a>
    </div>

    <div class="collapse navbar-collapse" id="collapsable-nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="dashboard"><a href="/#!/dashboard">Dashboard</a></li>
        <li class="users"><a href="/#!/test">Tests</a></li>
        <li class="dropdown settings" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle><span ng-bind="userData.first_name + ' ' + userData.last_name"></span> <span class="glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#!/settings">Settings</a></li>
            <li><a href="/#!/servers">Servers</a></li>
            <li><a href="/#!/buckets">Buckets</a></li>
            <li><a href="/#!/db">Database</a></li>
            <li><a href="/#!/deployments">Deployments</a></li>
            <li class="divider"></li>
            <li><a href ng-click="userLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
