<!doctype html>
<html class="no-js" ng-app="{{appName}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>{{projectName}}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="fragment" content="!" />
    <meta property="og:title" content="{{projectName}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <link rel="fluid-icon" href="/images/fluid.png">
    <link rel="apple-touch-icon-precomposed" href="/images/apple.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-76.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-152.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.) styles/main.css -->
    <link rel="stylesheet" href=".tmp/styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
  <!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <!-- Add your site or application content here -->
    <div class="api-loading" ng-if="apiLoading"><div class="icon-loader">Loading</div></div>
    <div class="alerts">
      <alert ng-repeat="alert in rootAlerts" type="{{alert.type}}" close="closeAlert($index)"><div ng-bind="alert.content"></div></alert>
    </div>

    <ng-view></ng-view>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/rootScope.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/run.js"></script>

    <script src="scripts/dictionary/index.js"></script>

    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/tests.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/account/main.js"></script>
    <script src="scripts/controllers/account/login.js"></script>
    <script src="scripts/controllers/account/register.js"></script>
    <script src="scripts/controllers/account/password.js"></script>

    <script src="scripts/filters/semantic-date.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
  </body>
</html>
